.window {
    position: absolute;
    background: #000;
    overflow: hidden;
    border: 3px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    resize: both;
    left: 44px;
    width: 50vw;
    top: 138px;
    height: 45vh;
    z-index: 100;
}

.windowBody {
    height: CALC(100% - 35px);
    background: #d0d8e0;
    width: 100%;
}

.windowHeaderDiv{
    width: 100%;
    height: 35px;
    background: #566575;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #000;
    font-size: 23px;
}

.windowHeaderDiv .titleDiv {
    left: 32px;
    right: 170px;
    overflow: hidden;
    position: absolute;
    /*top: 50%;*/
    white-space: nowrap;
    text-align: center

}

.zoom {
    top: 5px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 130px;
}

 .zoom:hover .zoomInput {
    display: block
}

.zoom:hover {
    width: 150px;
    text-align: right
}

.zoomIcon {
    top: 0;
    right: 0;
    background-image: url(zoom.png);
    text-align: center
}

.zoomInput {
    width: 100px;
    display: none;
    left: 15px;
    top: 3px;
    position: absolute

}



.close, .zoomIcon, .maximise, .miniaturise, .pin {
    width: 25px;
    background-size: cover;
    position: absolute;
    height: 25px
}

.close:hover,  .zoomIcon:hover, .maximise:hover, .miniaturise:hover, .zoom:hover {
    cursor: pointer
}



.close {
    right: 10px;
    top: 5px;
    background-image: url(close.png)
}

.maximise {
    right: 40px;
    top: 5px;
    background-image: url(maximise.png)
}

.miniaturise {
    right: 70px;
    top: 5px;
    background-image: url(minimalise.png)
}
.pin {
    right: 100px;
    top: 5px;
    background-image: url(pin_icon.png)
}
