.view_field {

    overflow: hidden;
    user-select: none;
    justify-content: space-between;


    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    height: 30px;
    background: #566575;
    color: #fff;
    z-index: 109;
    display: flex
}

.view_field > div {
    text-align: center;
    display: table-cell;
    margin-left: 3px;
    vertical-align: middle;
    height: 30px
}

.view_field img {
    vertical-align: bottom;
    display: inline;
}

.tableContainer {
    overflow: scroll;
    width: 100%;
    top: 25px;
    left: 0;
    bottom: 0;
    position: absolute
}

.tableIcon {
    height: 25px;
    padding-right: 3px
}

.tableIcon:hover{
    cursor: pointer
}

.columnHiderDiv {
    display: none;
    border: 1px solid #fff;
    position: fixed;
    width: 200px;
    background: #566575;
    right: 0;
    top: 30px
}
.columnHiderDiv > span {
    display: block
}

tr {
    height: 20px;
}

th{
    border: 1px solid #000;
}

table {
    table-layout: fixed;
    white-space: nowrap;
    border-collapse: collapse;
    border: 1px solid #000;
    width: 0;
    background-color: #fff;
}

td, th {
    font-size: 13px;
    width: 170px;
}
