.listerTableHeader, .listerTableBody, .listerTableFooter {
    display: table-row;
}

.listerTableHeader {
    height: 30px;
}

.listerTableFooter {
    height: 0;
}

.listTable {
    table-layout: fixed;
    white-space: nowrap;
    border-collapse: collapse;
    border: 1px solid #000;
    /*width: 100%;*/
    /*width: 0;*/
    height: 100%;
    background-color: #fff;
}

.listTable thead {
    position: relative;
    display: table-row;
    /*height: max-content;*/
    height: 20px;
}

.listTable thead th {
    display: inline-block;
}

.listTable tbody {
    display: table-row;
    overflow: auto;
    background-color: #d0d8e0;
}

.listTable tbody tr {
    display: table-row;
    background-color: white;
}

.listTable td {
    display: inline-block;
    overflow: hidden;
    padding-left: 2px;
}

.listTable td.leftAlign {
    text-align: left
}

.listTable td.rightAlign {
    text-align: right
}

.view_field {
    /*overflow: hidden;*/
    user-select: none;
    justify-content: space-between;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    background: #566575;
    color: #fff;
    z-index: 109;
    display: flex
}

.view_field > div {
    text-align: center;
    display: table-cell;
    margin-left: 3px;
    vertical-align: middle;
    height: 30px
}

.view_field img {
    vertical-align: bottom;
    display: inline;
}

.tableContainer {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.tableIcon {
    height: 25px;
    padding-right: 3px
}

.tableIcon:hover {
    cursor: pointer
}

.columnHiderDiv {
    display: none;
    border: 1px solid #fff;
    position: absolute;
    width: 200px;
    background: #566575;
    right: 0;
    top: 30px
}

.columnHiderDiv > span {
    display: block
}

.listTable tbody td {
    height: 20px;
}

.listTable td, .listTable th {
    font-size: 13px;
    width: 170px;
    border: 1px solid #000;
    border-top-width: 0;
    border-left-width: 0;
}

.listTable tr:nth-child(2n), .listTable th:nth-child(2n) {
    background: rgba(0, 0, 0, .1);
}

.listTable td:nth-child(2n) {
    background: rgba(0, 0, 0, .05);
}

.order {
    position: absolute;
    width: 30px;
    /*top: 0*/
}

.order {
    height: 20px
}

/*.order {*/
/*    left: 0*/
/*}*/
.order.ordered.reversed:hover:after, .order.ordered:after, .order:hover:after {
    display: initial;
    content: "\2193"
}

.order.ordered:hover:after, .order.reversed:after {
    display: initial;
    content: "\2191"
}

.filterRow > td > * {
    display: block
}

