#alertContainer > div {
    text-align: center
}

#alertContainer > div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#alertContainer > div, #alertContainer > div * {
    padding: 10px
}

#alertContainer, #successContainer {
    display: none;
    position: fixed
}

#alertContainer > div {
    position: fixed;
    background: red
}

#alertContainer {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(90, 90, 90, .5);
    z-index: 9999
}

#successContainer {
    padding: 5px;
    bottom: 35px;
    right: 35px;
    background: green;
    z-index: 9999
}
