#alertContainer {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(90, 90, 90, .5);
    z-index: 9999
}

#alertContainer, #successContainer {
    display: none;
    position: fixed
}

#alertContainer * {
    padding: 10px
}

#alertContainer > div {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background: red
}

#successContainer {
    padding: 5px;
    bottom: 35px;
    right: 35px;
    background: green;
    z-index: 9999
}
